#kintaiEntryTable{
    width:100%;
    table-layout: fixed;
}

#kintaiEntryTable th:nth-child(1),
#kintaiEntryTable td:nth-child(1){
    width:3%
}
#kintaiEntryTable th:nth-child(2),
#kintaiEntryTable td:nth-child(2){
    width:4%
}
#kintaiEntryTable th:nth-child(3),
#kintaiEntryTable td:nth-child(3){
    width:9%
}
#kintaiEntryTable th:nth-child(4),
#kintaiEntryTable td:nth-child(4){
    width:10%
}
#kintaiEntryTable th:nth-child(5),
#kintaiEntryTable td:nth-child(5){
    width:10%
}
#kintaiEntryTable th:nth-child(6),
#kintaiEntryTable td:nth-child(6){
    width:10%
}
#kintaiEntryTable th:nth-child(7),
#kintaiEntryTable td:nth-child(7){
    width:10%
}
#kintaiEntryTable th:nth-child(8),
#kintaiEntryTable td:nth-child(8){
    width:10%
}
#kintaiEntryTable th:nth-child(9),
#kintaiEntryTable td:nth-child(9){
    width:10%
}
#kintaiEntryTable th:nth-child(10),
#kintaiEntryTable td:nth-child(10){
    width:25%
}

#kintaiMasterTable{
    width:100%;
    table-layout: fixed;
}


#kintaiMasterTable th:nth-child(1),
#kintaiMasterTable td:nth-child(1){
    width:3%
}
#kintaiMasterTable th:nth-child(2),
#kintaiMasterTable td:nth-child(2){
    width:4%
}
#kintaiMasterTable th:nth-child(3),
#kintaiMasterTable td:nth-child(3){
    width:9%
}
#kintaiMasterTable th:nth-child(4),
#kintaiMasterTable td:nth-child(4){
    width:10%
}
#kintaiMasterTable th:nth-child(5),
#kintaiMasterTable td:nth-child(5){
    width:10%
}
#kintaiMasterTable th:nth-child(6),
#kintaiMasterTable td:nth-child(6){
    width:10%
}
#kintaiMasterTable th:nth-child(7),
#kintaiMasterTable td:nth-child(7){
    width:10%
}
#kintaiMasterTable th:nth-child(8),
#kintaiMasterTable td:nth-child(8){
    width:10%
}
#kintaiMasterTable th:nth-child(9),
#kintaiMasterTable td:nth-child(9){
    width:10%
}
#kintaiMasterTable th:nth-child(10),
#kintaiMasterTable td:nth-child(10){
    width:25%
}



