table[name="kintaiMasterTable"] {
    width: 100%;
    table-layout: fixed;
}

table[name="kintaiMasterTable"] th:nth-child(1),
table[name="kintaiMasterTable"] td:nth-child(1) {
    width: 3%;
}

table[name="kintaiMasterTable"] th:nth-child(2),
table[name="kintaiMasterTable"] td:nth-child(2) {
    width: 4%;
}

table[name="kintaiMasterTable"] th:nth-child(3),
table[name="kintaiMasterTable"] td:nth-child(3) {
    width: 5%;
}

table[name="kintaiMasterTable"] th:nth-child(4),
table[name="kintaiMasterTable"] td:nth-child(4) {
    width: 6%;
}

table[name="kintaiMasterTable"] th:nth-child(5),
table[name="kintaiMasterTable"] td:nth-child(5) {
    width: 6%;
}

table[name="kintaiMasterTable"] th:nth-child(6),
table[name="kintaiMasterTable"] td:nth-child(6) {
    width:6%;
}

table[name="kintaiMasterTable"] th:nth-child(7),
table[name="kintaiMasterTable"] td:nth-child(7) {
    width: 6%;
}

table[name="kintaiMasterTable"] th:nth-child(8),
table[name="kintaiMasterTable"] td:nth-child(8) {
    width: 6%;
}

table[name="kintaiMasterTable"] th:nth-child(9),
table[name="kintaiMasterTable"] td:nth-child(9) {
    width: 6%;
}

table[name="kintaiMasterTable"] th:nth-child(10),
table[name="kintaiMasterTable"] td:nth-child(10) {
    width: 40%;
}
